/* Styles for hero block */
.hero {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(154,169,250,1) 100%);
    padding: 15px 30px;
    height: 400px;
}

.hero .page-nav span {
    color: #7D7D7D;
    font-weight: 300;
    font-size: 12.8px;
}

.hero .page-nav span b {
    color: black;
}

.hero .container-hero {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero .container-hero .text {
    padding-top: 100px;
    width: 50%;
}

.hero .container-hero .text span {
    font-size: 14px;
    color: #232222;
    font-weight: 300;
}

.hero .container-hero .text h2 {
    font-size: 42px;
    font-weight: 400;
}

.hero .container-hero img {
    margin-top: -15px;
    margin-right: 150px;
}

/* Styles for advantages block */
.advantages {
    padding: 15px 30px;
}

.advantages .container-advantages {
    display: flex;
    width: 100%
}

.advantages .container-advantages .block {
    width: 444px;
    background-color: #FBFBFB;
    border-radius: 12px;
    margin-right: 50px;
    text-align: center;
}

.advantages .container-advantages .block:last-child {
    margin-right: 0;
}

.advantages .container-advantages .block h3 {
    font-size: 100px;
    font-weight: 800;
    color: transparent; 
    -webkit-text-stroke: 3px #E1292966;
    margin-bottom: -30px;
    text-align: left;
}

.advantages .container-advantages .block span {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

/* Styles for FAQ block */
.faq {
    padding: 50px 50px;
}

.faq .container-faq {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.faq .container-faq .img {
    width: 50%;   
}

.faq .container-faq .img .dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.faq .container-faq .img .dots .dot {
    height: 8px;
    width: 8px;
    border-radius: 18px;
    background-color: #D0D0D0;
    margin-right: 5px;
}

.faq .container-faq .img .dots .dot.active {
    background-color: #E12929;
}

.faq .container-faq .questions {
    width: 50%;
    padding-left: 25px;
}

.faq .container-faq .questions h1 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 10px;
}

.faq .container-faq .questions .block {
    width: 87%;
    margin: 10px 0;
    display: flex;
}

.faq .container-faq .questions .block .bar {
    background-color: #E12929;
    width: 2px;
    height: 50px;
}

.faq .container-faq .questions .block span {
    font-size: 18px;
    font-weight: 400;
    /* padding-left: 10px; */
    padding: 10px;
}

.faq .container-faq .questions .block.active {
    border: 2px solid #E12929;
    border-radius: 8px;
}

.faq .container-faq .questions .block.active .bar {
    display: none;
}